<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.label :icon,
              required: true,
              wrapper: false,
              input_html: { class: "input" },
              input_label: { class: "label" },
              :error => false %>
  <div class="field">
    <div class="columns">
      <div class="column is-2">
        <div class="tags is-centered">
          <figure class="image is-32x32">
            <img src="https://www.flaticon.com/svg/static/icons/svg/3532/3532381.svg">
          </figure>
          <%= f.radio_button :icon, "https://www.flaticon.com/svg/static/icons/svg/3532/3532381.svg", checked: true %>
        </div>
      </div>
      <div class="column is-2">
        <div class="tags is-centered">
          <figure class="image is-32x32">
            <img src="https://www.flaticon.com/svg/static/icons/svg/3532/3532709.svg">
          </figure>
          <%= f.radio_button :icon, "https://www.flaticon.com/svg/static/icons/svg/3532/3532709.svg" %>
        </div>
      </div>
      <div class="column is-2">
        <div class="tags is-centered">
          <figure class="image is-32x32">
            <img src="https://www.flaticon.com/svg/static/icons/svg/3532/3532468.svg">
          </figure>
          <%= f.radio_button :icon, "https://www.flaticon.com/svg/static/icons/svg/3532/3532468.svg" %>
        </div>
      </div>
      <div class="column is-2">
        <div class="tags is-centered">
          <figure class="image is-32x32">
            <img src="https://www.flaticon.com/svg/static/icons/svg/3532/3532652.svg">
          </figure>
          <%= f.radio_button :icon, "https://www.flaticon.com/svg/static/icons/svg/3532/3532652.svg" %>
        </div>
      </div>
      <div class="column is-2">
        <div class="tags is-centered">
          <figure class="image is-32x32">
            <img src="https://www.flaticon.com/svg/static/icons/svg/3532/3532813.svg">
          </figure>
          <%= f.radio_button :icon, "https://www.flaticon.com/svg/static/icons/svg/3532/3532813.svg" %>
        </div>
      </div>
      <div class="column is-2">
        <div class="tags is-centered">
          <figure class="image is-32x32">
            <img src="https://www.flaticon.com/svg/static/icons/svg/3532/3532597.svg">
          </figure>
          <%= f.radio_button :icon, "https://www.flaticon.com/svg/static/icons/svg/3532/3532597.svg" %>
        </div>
      </div>
    </div>
  <% unless resource.errors[:icon].empty? %>
    <p class="help is-danger">Please select an icon</p>
  <% end %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.input :email,
              required: true,
              wrapper: false,
              input_html: { class: "input" },
              input_label: { class: "label" },
              :error => false %>
    </div>
  <% unless resource.errors[:email].empty? %>
    <p class="help is-danger">Please enter a valid e-mail</p>
  <% end %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.input :username,
              required: true,
              wrapper: false,
              input_html: { class: "input" },
              input_label: { class: "label" },
              :error => false %>
    </div>
  <% unless resource.errors[:username].empty? %>
    <p class="help is-danger">Please enter a valid username</p>
  <% end %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= f.input :password,
              required: true,
              wrapper: false,
              input_html: { class: "input" },
              input_label: { class: "label" },
              :error => false,
              autocomplete: "new-password",
              label: "New password" %>
    </div>
  <% unless resource.errors[:password].empty? %>
    <p class="help is-danger">Please enter a valid password</p>
  <% end %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.input :password_confirmation,
              required: true,
              wrapper: false,
              input_html: { class: "input" },
              input_label: { class: "label" },
              :error => false,
              autocomplete: "new-password",
              label: "New password confirmation" %>
    </div>
  <% unless resource.errors[:password_confirmation].empty? %>
    <p class="help is-danger">Passwords do not match</p>
  <% end %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.input :current_password,
              required: true,
              wrapper: false,
              input_html: { class: "input" },
              input_label: { class: "label" },
              :error => false %>
    </div>
  <% unless resource.errors[:current_password].empty? %>
    <p class="help is-danger">Please enter your current password to apply changes</p>
  <% end %>
  </div>
  
  <div class="field">
    <div class="control">
      <%= f.button :submit, "Update", class: "button is-primary is-medium" %>
    </div>
  </div>
  
<% end %>