<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:noticer] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= flash[:notice] %></p>
      </div>
    <% elsif flash[:alertr] %>
      <div class="notification is-danger global-notification">
        <p class="notice"><%= flash[:alert] %></p>
      </div>
    <% end %>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-5">Members Only</h1>
        <% end %>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navbarExample">
        <div class="navbar-end">
          <div class="navbar-item">
            <%= link_to "New Topic", root_path, class: "button is-dark has-text-white is-fullwidth" %>
          </div>

          <% if member_signed_in? %>
          <div class="navbar-item">
            <%= link_to current_member.username, edit_member_registration_path, class: "button is-primary has-text-dark is-fullwidth"%>
          </div>
          <div class="navbar-item">
            <%= link_to "Log out", destroy_member_session_path, method: :delete, class: "button is-primary has-text-dark is-fullwidth"%>
          </div>
          <% else %>
          <div class="navbar-item">
            <%= link_to "New User", new_member_registration_path, class: "button is-primary has-text-dark is-fullwidth"%>
          </div>
          <div class="navbar-item">
            <%= link_to "Log In", new_member_session_path, class: "button is-primary has-text-dark is-fullwidth"%>
          </div>
          <% end %>

        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
